<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <php>
        <var name="DB_DSN" value="mysql:dbname=zukkut;host=localhost" />
        <var name="DB_USER" value="zukkut" />
        <var name="DB_PASSWD" value="666333" />
        <var name="DB_DBNAME" value="zukkut" />
    </php>
    <testsuite name="ApplicationTestSuite">
        <directory>./classes</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../tests</directory>
            <exclude>
                <directory suffix="*">../cache</directory>
                <directory suffix="*">../config</directory>
                <directory suffix="*">../daemon</directory>
                <directory suffix="*">../cron</directory>
                <directory suffix="*">../logs</directory>
                <directory suffix=".php">../views</directory>
                <directory suffix=".tpl">../views</directory>
                <file>../bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
