/application/config/local
/www/.sass-cache
.DS_Store
.idea/
application/cache
application/logs
www/bonuses/plugins/
www/bonuses/www/admin/plugins/
www/bonuses/www/images/
www/bonuses/var/templates_compiled/
www/bonuses/var/cache/
www/bonuses/var/debug.log
sphinx/
www/upload
www/export
www/c/style.combined.css
www/c/style.min.css
www/j/script.combined.js
www/j/script.min.js
www/sitemap.xml