/application/config/local/payment.php
/application/config/local/domains.php
/application/config/local/database.php
/www/.sass-cache
old_mlad
.DS_Store
.idea/
application/cache
application/logs
www/bonuses/plugins/
www/bonuses/www/admin/plugins/
www/bonuses/www/images/
www/bonuses/var/templates_compiled/
www/bonuses/var/cache/
sphinx/
www/upload
www/export
www/c/style.combined.css
www/c/style.min.css
www/j/script.combined.js
www/j/script.min.js
www/sitemap.xml