/**
* 
*/
body {
	font-family: Vernada, Tahoma, Geneva, sans-serif;
}

table{ 
	border-spacing: 0;
}

label {
	display: block;
	margin-bottom: 10px;
}

/* DEPRECATED */
label.label {
	margin-bottom: 0;
}

label.placeholder {
	cursor: auto;
}

input[type='text'] {
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.h {
	font-weight: bold;
	color: #2b2b2b;
}

.b {
	font-weight: bold;
}

.u {
	text-decoration: underline;
}

.black {
	color: #010101;
}

.do {
    border-bottom: 1px dotted #0090cc;
    cursor: pointer;
}

.do:hover {
    border-bottom-color: transparent;
}

.clear { 
	clear:both;
	height: 0;
}

.sys {
	color: #7e9faa;
}

.undln {
	text-decoration: underline !important;
}

.fl-lft {
	float: left;
}

.fl-rght {
	float: right;
}

.txt-cntr {
	text-align: center;
}

.txt-lft {
	text-align: left !important;
}

.tbl {
}

.tbl-noborder td, .tbl-noborder th {
	border-width: 0 !important;
}

.tbl th{
	font-weight: normal;
}

.tbl td {
	border: 1px solid #e8e8e8;
	text-align: center;
	border-width: 0 0 1px 0;
	padding: 10px 0;
}

.tbl td:nth-child(1) {
	border-width: 0 0 1px 1px;
}

.tbl td:nth-last-child(1) {
	border-width: 0 1px 1px 0;
}

.tbl thead th {
	color: #9c9e8c;
	background: #fafbef;
	border: 1px solid #e8e8e8;
	border-width: 1px 0 1px 0;
	padding: 12px 0;
}

.tbl thead th:nth-child(1){
	border-radius: 7px 0 0;
	border-width: 1px 0 1px 1px;
}

.tbl thead th:nth-last-child(1){
	border-radius: 0 7px 0 0;
	border-width: 1px 1px 1px 0;
}

.ico {
	display: block;
	display: inline-block;
	width: 17px;
	height: 17px;
}

.ico-del { 
	background-image:url(/i/redbox.png);
	background-position:0px -33px !important;
}

.ico-del:hover {
	background-position:0px -33px !important;
}

.buy {
	width: 82px;
	height: 25px;
}

abbr:hover {
	color: inherit !important; /* WARN !important - для совместимости */
	border-bottom-color: #fff;
}

/** <КНОПКИ> **/
.butt {
    font:bold 16px/25px Verdana, Tahoma, Geneva, sans-serif; white-space:nowrap; outline:none;
    display:block; border-radius:8px; cursor:pointer; 
    text-shadow:0 1px #205f7e; color:#fff !important; padding:5px 27px; box-shadow:0 1px rgba(0, 1, 1, 0.25);
	border: 2px solid #b5efff;
    background: #3fb4d6;
    background: -moz-linear-gradient(90deg, #6dd8f0 0%, #3fb4d6 100%);
    background: -webkit-linear-gradient(90deg, #6dd8f0 0%, #3fb4d6 100%);
    background: -o-linear-gradient(90deg, #6dd8f0 0%, #3fb4d6 100%);
    background: -ms-linear-gradient(90deg, #6dd8f0 0%, #3fb4d6 100%);
    background: linear-gradient(180deg, #6dd8f0 0%, #3fb4d6 100%);
}

.butt[disabled] {
	border-color: #dddedf;
	background: #dbdfe2;
	background: -moz-linear-gradient(top,  #dbdfe2 0%, #b5b8bc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdfe2), color-stop(100%,#b5b8bc));
	background: -webkit-linear-gradient(top,  #dbdfe2 0%,#b5b8bc 100%);
	background: -o-linear-gradient(top,  #dbdfe2 0%,#b5b8bc 100%);
	background: -ms-linear-gradient(top,  #dbdfe2 0%,#b5b8bc 100%);
	background: linear-gradient(to bottom,  #dbdfe2 0%,#b5b8bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfe2', endColorstr='#b5b8bc',GradientType=0 );
}

.butt:hover, .butt:focus {
    background: #06ade0;
    background: -moz-linear-gradient(90deg, #58e0fe 0%, #06ade0 100%);
    background: -webkit-linear-gradient(90deg, #58e0fe 0%, #06ade0 100%);
    background: -o-linear-gradient(90deg, #58e0fe 0%, #06ade0 100%);
    background: -ms-linear-gradient(90deg, #58e0fe 0%, #06ade0 100%);
    background: linear-gradient(180deg, #58e0fe 0%, #06ade0 100%);
}
.butt[disabled]:hover, .butt[disabled]:focus {
	background: #dbdfe2;
	background: -moz-linear-gradient(top,  #dbdfe2 0%, #96979b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdfe2), color-stop(100%,#96979b));
	background: -webkit-linear-gradient(top,  #dbdfe2 0%,#96979b 100%);
	background: -o-linear-gradient(top,  #dbdfe2 0%,#96979b 100%);
	background: -ms-linear-gradient(top,  #dbdfe2 0%,#96979b 100%);
	background: linear-gradient(to bottom,  #dbdfe2 0%,#96979b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfe2', endColorstr='#96979b',GradientType=0 );
	cursor: default;
}

.butt:active {
    box-shadow:0 -1px rgba(0, 1, 1, 0.25);
    background: #55dffd;
    background: -moz-linear-gradient(90deg, #03acdf 0%, #55dffd 100%);
    background: -webkit-linear-gradient(90deg, #03acdf 0%, #55dffd 100%);
    background: -o-linear-gradient(90deg, #03acdf 0%, #55dffd 100%);
    background: -ms-linear-gradient(90deg, #03acdf 0%, #55dffd 100%);
    background: linear-gradient(180deg, #03acdf 0%, #55dffd 100%);
}
.butt.small { 
	padding:0 19px; 
	font-size: 1.1em;
}
/** </КНОПКИ> **/

/** <КОРЗИНА> **/
.cart-prm > * {
	margin: 10px;
}

.cart-all-summ,
.cart-all-price {
	font-size: 1.6em;
	color: #010101;
	padding: 20px;
}

.cart-login {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.cart-login td, .cart-login th{
	padding: 10px;
	position: relative;
	vertical-align: top;
}
.cart-login tbody td {
	-webkit-transition: opacity 0.1s ease;
	-moz-transition: opacity 0.1s ease;
	-o-transition: opacity 0.1s ease;
	-ms-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;		
	position: relative;
	height: 200px;
}

.cart-login tbody td > div {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	bottom: 0;
	border: 1px solid transparent;
	border-width: 0px 2px;
	height: auto;
	padding: 0 10px;
}

.cart-login tbody td:hover > div, .cart-login tbody td:focus > div, .cart-login tbody td.active > div {
	border-color: #dfdfdf;
	opacity: 1;
}

#cart-delivery h3{
	padding: 15px;
}
.cart-clear-link {
	font-size: 1.2em;
}
.cart-remove-link {
	cursor: pointer;
}
.delivery-choose-item p {
	font-weight: bold;
}
/* WARN всё в спрайты запилить */
.cart-qty {
	position: relative;
}

.cart-qty i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -4px;
}

.addr table td input {
	margin: 0;
}
.addr table td {
	padding: 10px;
	vertical-align: middle;
}

.addr table tr td:nth-child(1){
	text-align: right;
}

.cart-recount-link {
	padding-left: 12px; 
	padding-bottom: 12px; 
	font-size: 1.2em;
}
.cart-recount-link.changed {
	color: inherit;
	text-decoration: none !important;
}
.delivery-date select {
	font-size: 1.2em;
	height: 21px;
	max-width: 200px;
	margin: 0;
}
.delivery-date .date-label {
	line-height: 25px;
}
.delivery-date .date-label span {
	font-weight: bold;
}

.cart-coupon-table td {
	padding: 20px;
}

/** </КОРЗИНА> **/

/** <АЛЕРТЫ> **/
.alrt {
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 10px;
}

.alrt-warning {
	border-color: #d3cb17;
	background: #fffcbe;
}
/** </АЛЕРТЫ> **/

/** <ФОРМА> **/
input.txt, input[type=text], textarea {
	border-color: #c2c2c2;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	box-shadow: inset 0 0 1px #e1e1e1;
}
/** </ФОРМА> **/