div, span, input {
    zoom: 1;
}

a.open {
    display: block;
    float: left;
    margin-right: 5px;
}

#login_form label {
    overflow: visible;
}

div.buy select {
    width: 40px !important;
    float: left;
    height: 25px;
}

form.cols {
    position: static !important;
}

#etalage {
    height: 200px;
}

#check_addr + abbr {
    float: none !important;
}